*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #ffffff;
    line-height: 1.6;

}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ol {
    list-style-type: none;
    counter-reset: num;
}

summary::-webkit-details-marker {
    display: none;
}

p,
h1,
h2,
h3,
h4,
ul,
figure,
ol {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.title {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    letter-spacing: 0.1em;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .6);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.promo__content {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.main-title {
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: #ffffff;
    letter-spacing: 0.2em;
}

.main-subtitle {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
    letter-spacing: 0.2em;
    text-align: center;
}

.video {
    position: relative;
    z-index: 1;
    width: inherit;
    height: inherit;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
}

.promo__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.promo__col {
    padding: 20px;
}

.promo__item {
    position: relative;
    padding: 10px;
    padding-left: 35px;
}

.promo__item::before {
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    background-image: url(./img/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.promo__img {
    width: 100%;
    max-width: 290px;
    
}

.promo__list {
    margin-bottom: 40px;
}

.btn {
    border: 1px solid rgb(131, 0, 124);
    background-color: rgba(253, 0, 240, 0.2);
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px 60px;
    cursor: pointer;
    display: block;
    max-width: 300px;
    text-align: center;
    margin: 0 auto;


}

.btn:hover {
    transform: scale(1.1);
    background-color: rgba(253, 0, 240, 0.459);
}

.composition {
    height: 100vh;
    background: linear-gradient(to right, #3a6186, #89253e);
    display: flex;
    align-items: center;
}

.composition__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.composition__item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    color: #ffffff;
}

.composition__img img {
    margin-bottom: 50px;
}

.composition__item img {
    width: 100px;
    height: 100px;
    border: 1px solid #ffd452;
    border-radius: 50%;
    margin-right: 20px;
}
.composition__img-wrap {
    text-align: center;
    width: inherit;

}
.composition__pic {
    width: inherit;
    max-width: 290px;
}
.reviews {
    background-image: url(img/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews__wrap {
    background-color: rgb(255, 212, 82, 0.4);
    padding: 100px 0;

}

/* ///////// */
.reviews__group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    flex-wrap: wrap;
    align-content: center;
}

.reviews__item {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    /* justify-content: flex-start; */
    flex-basis: 100%;
    flex-direction: column;
    align-content: center;
}

.reviews__text {
    position: relative;
    border: 1px solid #dcdcdc;
    border-radius: 18px;
    font-size: 14px;
    color: #544a7d;
    max-width: 720px;
    padding: 23px 20px;
    background-color: #ffffff;
    margin-bottom: 50px;

}

.reviews__text:before,
.reviews__text:after {
    content: '';
    border: solid transparent;
    position: absolute;
    left: 60%;
    margin-left: -110px;
    bottom: -36px;
    width: 0;
}

.reviews__text:before {
    border-top-color: #dcdcdc;
    border-left-color: #dcdcdc;
    border-width: 18px;
}

.reviews__text:after {
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-width: 17px;
    margin-left: -109px;
    margin-bottom: 2px;
}

.reviews__man {
    display: flex;
    align-self: center;
}

.reviews__info {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-left: 20px;
}

.reviews__img-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #544a7d;
    position: relative;
    overflow: hidden;

}

.reviews__img {
    position: absolute;
    top: -3px;
    left: -10px;
}

.reviews__author {
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding-bottom: 5px;
}



.slick-track {
    display: flex;
    justify-content: space-around;
}

.slick-list {
    overflow: hidden;
}

.review__slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.review__slider .slick-dots li {
    list-style: none;
    margin: 0 10px;
}

.review__slider .slick-dots button {
    border: none;
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #eaeaea;
    border-radius: 50%;
    outline: none;
}

.review__slider .slick-dots li.slick-active button {
    background-color: #ffdd0c;
}

.promote {
    background: linear-gradient(to right, #3a6186, #89253e);
    padding: 100px 0;
}

.promote__text {
    margin-bottom: 20px;
}

.promote__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promote__col {
    width: 50%;
}

.promote__img {
    width: 100%;
}

.promote__wrap-list {
    width: 100%;
    padding-top: 100px;
}

.promote__list {
    display: flex;
    justify-content: space-around;
}

.promote__item {
    max-width: 320px;
    position: relative;
    padding-left: 35px;

}




.promote__item::before {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    background-image: url(./img/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.order {
    height: 100vh;
    background-image: url(img/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.order__wrap {
    background-color: rgb(255, 212, 82, 0.4);
    height: inherit;


}

.order__form-inner {
    display: flex;
    flex-direction: column;
}

.form__input-text {
    /* max-width: 350px; */
    /* width: 32%; */
    height: 57px;
    background-color: #F9F9F9;
    border: none;
    padding-left: 26px;
    margin-bottom: 20px;
    appearance: none;
}

.form__input-text:placeholder {
    font-size: 18px;
    line-height: 1.33;
    color: #717171;
}

.order__img-wrap,
.order__info {
    width: 50%;
}
.order__img {
    width: inherit;
    max-width: 290px;
}
.order__timer-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 50px;
}

.order__timer {
    color: #544a7d;
    font-size: 50px;

}

.order__timer-text {
    font-size: 22px;
    color: #ffffff;
    margin-right: 20px;
}

.order__inner {
    display: flex;
    justify-content: space-around;

}

.order__price-wrap {
    text-align: center;
    margin-bottom: 20px;
}

.order .main-subtitle {
    margin-bottom: 20px;
}

.order__old-price {
    color: rgb(255, 255, 255);
    font-size: 30px;
    position: relative;
    padding: 20px;

}

.order__old-price:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgb(253, 231, 32);
    transform: rotate(-20deg);

}

.order__new-price {
    color: rgb(72, 197, 48);
    font-size: 50px;
    opacity: 1;
    transform: scale(1);
    animation: hidden 1s infinite linear;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance: none;
    margin: 0;
}
.form__input-prompt {
    display: none;
}
.form__input-wrap {
    display: flex;
    flex-direction: column;
}
#name:focus ~ #name-prompt, #tel:focus ~ #tel-prompt {
    display: block;
    color: #ffffff;
    order: -1;
    padding-bottom: 10px;
}

@keyframes hidden {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@media (max-width: 1024px) {
    
    .promo__list {
        margin-bottom: 0;
    }
   
    .composition {
        height: auto;
        padding: 50px 0;
    }

    .composition__wrap {
        flex-wrap: wrap;
    }

    .composition__list {
        order: -1;

    }

    .composition__img {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

}
@media (max-width: 968px) {
.video {
    display: none;
}
.promo {
    background-color:rgb(160, 95, 185);
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    position: relative;
    z-index: -2;
}
.intro {
    position: static;
}
}
@media (max-width: 768px) {
    .btn {
        padding: 10px 30px;
    }
   
    .title {
        font-size: 25px;
    }
    .main-title {
        font-size: 40px;
    }
    .main-subtitle {
        font-size: 25px;
        text-align: center;
    }
    .promo__wrap {
        flex-wrap: wrap;
    }
    .promo__img {
        width: 50%;
        max-width: 120px;
     
    }
    .promo__col {
        width: 100%;
        padding: 0;
    }
    .promo__item {
        padding: 5px;
        padding-left: 30px;
        font-size: 15px;
    }
    .promo__item:before{
        top: 2px;
    }
    .promo__img-wrap {
        display: flex;
        justify-content: center;
    }
    .order {
        height: auto;
       
    }
    .order__inner {
        flex-wrap: wrap;
    }
    .order__img-wrap, .order__info {
        width: 100%;
        text-align: center;
    }
    .order__wrap {
        padding: 20px 0;
    }
    .promote__list {
        flex-direction: column;
    }
    .promote__row {
        flex-wrap: wrap;
    }
    .promote__col {
        width: 100%;
    }
    .promote__img {
        max-width: 320px; 
    }
    .promote__wrap-list {
        padding-top: 30px;
    }
}
@media (max-width: 375px) {
    .composition__item img {
        width: 80px;
        height: 80px;
}}